<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://i.guim.co.uk/img/media/9b7412a06451584d8e594c9d08b3cd0623d23d02/0_11_2158_1116/master/2158.jpg?width=700&quality=85&auto=format&fit=max&s=0fa70ee786e49646f5008baa4eb13d11" alt="" height="200px">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>


  <div class="big-card__description">
    <p>
      <a href="">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat maiores voluptatem asperiores provident minus aspernatur ab non voluptate doloremque amet eius ullam praesentium porro quae, corporis inventore, error rem ut!
      </a>
    </p>
  </div>
</div>
